/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.login-frame img, .registration-frame img {
  max-height: 100px;
  width: auto;
  margin: auto;
}

.login-frame md-card, .registration-frame md-card {
  max-width: 400px;
  margin: auto;
}
.bottom {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: $navHeight;
  background: $white;
